@{
    @using SplashWebApp.Controllers
    @using SplashWebApp.Logic;
    @model Profile
    var profile = ViewData.Model;
}


<H1>@profile.ProfileName</H1>
<p>@profile.Created</p>
<p>@profile.ProfileDesc</p>
<p>@profile.Discord</p>
<p>@profile.Youtube</p>